@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import '../colors.scss';

.skip {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  height: fit-content;
  cursor: pointer;
}

.starwars {

  section {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 1;
  }

  .start {
    font-size: 200%;
    $start-width: 14em;
    width: $start-width;
    margin: -4em 0 0 (- $start-width / 2);
    text-align: center;
    cursor: pointer;

    span {
      color: $blue;
    }
  }

  .intro {
    $intro-width: 15em;
    width: $intro-width;
    margin: 0 0 0 (- $intro-width / 2);
    font-size: 200%;
    font-weight: 400;
    color: $blue;
    opacity: 0;
    animation: intro 6s ease-out 1s;

    // @media only screen and (max-width: 768px) {
    //   $mobile-width: 14em;
    //   width: $mobile-width;
    //   margin: 0 0 0 (- $mobile-width / 2);
    // }
  }

  .logo {
    opacity: 0;
    animation: logo 9s ease-out 9s;
    background-image: url('./logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    width: 280px;
    position: relative;
    margin: 0 280px;

    @media only screen and (max-width: 768px) {
      animation: logoMobile 9s ease-out 9s;
      height: 70px;
      width: 280px;
      margin: 0 280px;
    }
  }

  .titles {
    $titles-width: 14.65em;
    width: $titles-width;
    margin: 0 0 0 (- $titles-width / 2);
    top: auto;
    bottom: 0;
    height: 50em;
    font-size: 350%;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);

    @media only screen and (max-width: 768px) {
      font-size: 200%;
    }

    >div {
      position: absolute;
      top: 100%;
      animation: titles 15s linear 13s;

      >p {
        margin: 1.35em 0 1.85em 0;
        line-height: 1.35em;
        backface-visibility: hidden;
      }
    }
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes logo {
  0% {
    $logo-width: 280px;
    width: $logo-width;
    margin: 0 (- $logo-width / 2);
    transform: scale(2.75);
    opacity: 1;
  }

  50% {
    opacity: 1;

    $logo-width: 280px;
    width: $logo-width;
    margin: 0 (- $logo-width / 2);
  }

  100% {
    transform: scale(0.1);

    opacity: 0;

    $logo-width: 280px;
    width: $logo-width;
    margin: 0 (- $logo-width / 2);
  }
}

@keyframes logoMobile {
  0% {
    $logo-width: 280px;
    width: $logo-width;
    margin: 0 (- $logo-width / 2);
    transform: scale(1.2);
    opacity: 1;
  }

  50% {
    opacity: 1;

    $logo-width: 280px;
    width: $logo-width;
    margin: 0 (- $logo-width / 2);
  }

  100% {
    transform: scale(0.1);

    opacity: 0;

    $logo-width: 280px;
    width: $logo-width;
    margin: 0 (- $logo-width / 2);
  }
}

@keyframes titles {
  0% {
    top: 100%;
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    top: 40%;
    opacity: 0;
  }
}