.board {
  background: url("./galaxy_background_78.png");
  background-size: cover;
  background-position: center;
  height: 200%;
  width: 200%;
  position: relative;

  will-change: transform;

  @media only screen and (max-width: 768px) {
    width: 300%;
  }
}