@import './colors.scss';

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font: 700 1em "News Cycle", sans-serif;
  letter-spacing: .15em;
  color: $gold;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @media only screen and (max-width: 768px) {
    font-size: 12px;
  }
}

#root,
#start-overlay,
#modals-overlay,
#controls-overlay {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  max-width: 1920px;
  max-height: 1080px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  position: fixed;
  background: black;
}

#start-overlay,
#controls-overlay,
#modals-overlay {
  z-index: 100;
  transition: opacity 1s;

  &.fadeOut {
    opacity: 0;
    z-index: 98;
  }
}

#controls-overlay,
#modals-overlay {
  z-index: 99;
  background: transparent;
}

#modals-overlay {
  background: rgba(0, 0, 0, 0.3);
}